@{
    ViewData["Title"] = "О компании";
}
<h2>@ViewData["Title"]</h2>
<h3><i class="glyphicon glyphicon-user" aria-hidden="true" ></i> @ViewData["Message"]</h3>

<p>Наша многовековая история началась с того, что разработчик увидел следующее: работа не сделана, а завтра надо что то показать</p>
<p>В общем работа создана за вечер бедным студентом за дошик</p>
<p>Это веб приложение фирмы приема металлолома, от приложения ничего хорошего ждать не стоит , но знай что метела забираем дороже чем у всех, ГЫЫre</p>
