@{
    ViewData["Title"] = "Наши контакты";
}
<h2>@ViewData["Title"]</h2>

<p>
    <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Af71c0f74db8dedca5f64c5f40553a623a6ec64991a037d93e1016f162b3d2791&amp;width=614&amp;height=485&amp;lang=ru_RU&amp;scroll=true"></script>
</p>


<address>
    г.Крыжополь<br />
    ул.Строительная,228<br />
    <abbr title="Phone"><i class="glyphicon glyphicon-phone-alt" aria-hidden="true"></i>Тел:</abbr>
    8 800 555 35 35
</address>

